fn/nilled/nillable.xsd

<xs:schema
   xmlns:xs = "http://www.w3.org/2001/XMLSchema"
   xmlns:ids = "http://www.w3.org/XQueryTest/nillable" 
   targetNamespace = "http://www.w3.org/XQueryTest/nillable" 
   elementFormDefault = "qualified">
 
  <xs:element name = "root" type = "ids:root"/>
  
   <xs:complexType name = "root">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
     <xs:element name = "branch" type="ids:root" nillable="true"/>
     <xs:element name = "twig" type="xs:int" nillable="true"/>
    </xs:choice>
   </xs:complexType>
  
   
      
</xs:schema>